@page

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Terms of Use</title>
</head>
<body>
<div>
    Add your terms of use here.
</div>
<div><a href="/">Back to Home</a></div>
</body>
</html>